<%= form_for [:admin, @post], html: {class: "form"}  do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Post title" %>
    </div>
      <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control", placeholder: "Post content" %>
      </div>
      <div class="form-group">
      <%= f.label :tag %>
      <%= f.text_field :tag, class: "form-control", placeholder: "Post content" %>
      </div>
    <div class="form-group">
    <%= f.label :categories %>
    <%= f.select :category_id, @categories.collect {|c| [ c.name, c.id ] } %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>